@import url('https://fonts.googleapis.com/css2?family=Moul&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rye&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: auto;
     font-family: "Roboto", sans-serif;
}
.navbar{
    width: 100%;
    height: 10vh;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    & .logo{
        width: auto;
        height: auto;
        display: flex;
        align-items: center;
        & img{
            width: 90px;
            height: 90px;
            cursor: pointer;
        }
        & h4{
            font-size: 20px;
            cursor: pointer;
        }
    }
    & ul{
        width: auto;
        height: auto;
        display: flex;
        align-items: center;
        gap: 30px;
        & li{
            list-style: none;
            & a{
                text-decoration: none;
                font-size: 20px;
                color: black;
            }
        }
    }

    & .btn{
        width: auto;
        height: auto;
        display: flex;
        gap: 15px;
        & button{
            background-color: rgb(19, 139, 251);
            padding: 9px 20px;
            font-size: 19px;
            border-radius: 5px;
            color: white;
            font-weight: 500;
            border: none;
            cursor: pointer;
        }
        & button:nth-child(1){
            background-color: rgba(128, 128, 128, 0.559);
        }
    }
}

.hero-section{
    width: 90%;
    height: 80vh;
    background-color: brown;
    margin: auto;
    margin-top: 40px;
    border-radius: 20px;
    background-image: url(https://cdn.kiripost.com/static/images/IMG_0970.2e16d0ba.fill-960x540.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}